{% extends 'articles/base.html' %}

{% block title %}ЖупелЪ{% endblock %}

{% block links%}
<link rel="stylesheet" href="/static/articles/one_index_Style_backup.css">
{% endblock %}

{% block content %}


<main>
    <div class="container">
        {% for theme in article.get_themes %}
            <a class="theme" href="article/{{ theme }}">{{ theme }}</a>
        {% endfor %}
        <p class="date">{{ article.pub_date }}</p>
        <h1>{{ article.header }}</h1>
        {% for i in tags %}
            {% if i.type == 'p'%}
                <p>{{ i.text }}</p>
            {% elif i.type == 'h2'%}
                <h2>{{ i.text }}</h2>
            {% elif i.type == 'img'%}
                <div class="image">
                    <img src={{ i.src }} alt={{ i.alt }}>
                </div>

            {% elif i.type == 'q'%}
                <q>{{ i.text }}</q>
            {% endif %}
        {% endfor %}
        <h5>Комментарии</h5>
        {% for comment in comments %}
        <div class="comment">
            <p class="name">
                {{ comment.name }}
            </p>
            <p class="info">{{ comment.created }}</p>
            <p class="body">{{ comment.body}}</p>

        </div>
        {% empty %}
        <p>There are no comments yet.</p>
        {% endfor %}

        {% if new %}
            <script>alert("Комментарий добавлен успешно")</script>
        {% endif %}
        <h6>Добавить новый комментарий</h6>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input class="button" type="submit" value="Добавить комментарий"></p>
        </form>

    </div>
</main>

{% endblock %}